div {
    border: 1px solid white;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    color: rgb(255, 255, 255);
    font-size: 14px;
}
.main {
    overflow-x: hidden;
}
.home {
    height: calc(100vh + 50px);
    position: relative;
}
.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imageBack {
    background-color: rgb(0, 17, 255);
    height: 100%;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}
.main_title {
    z-index: 2;
}
.text {
    font-size: 43px;
    line-height: 48px;
    margin-bottom: 20px;
}
.button {
    border: 1px solid white;
    padding: 15px;
    transition: all 0.5s;
}
.button:hover {
    background-color: aqua;
    border-color: aqua;
}
.nav {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    background-color: brown;
    opacity: .7;
    width: 100vw;
}
.about {
    background-image: url(/image/back/back1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: bisque;
    height: 100vh;
}
.about2 {
    background-image: url(/image/back/back2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: burlywood;
    height: 100vh;
}
.about3 {
    background-image: url(/image/back/back3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: darkcyan;
    height: 100vh;
}
.fixed {
    position: fixed;
    top: 0;
    left: 0;
}