/*ТЕСТ*/
/*div {
    border: 1px solid white;
}*/
.nav {
    display: flex;
}
.nav div:hover {
    background-color: #46475a;
}
.nav div.active {
    background-color: red;
}
section, footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
section p, footer p {
    border: 2px solid black;
    padding: 20px;
    background-color: brown;
    opacity: .5;
    font-size: 20px;
}
/*ТЕСТ*/


@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family: "Raleway-bold";
    src: url(../fonts/Raleway-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.unseparable {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
:root {
    --framing-size: 40px;
}
body {
    overflow-x: hidden;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-family: "Raleway";
    
}
.main {
    overflow-x: hidden;
}
.home {
    height: calc(100vh + 50px);
    position: relative;
}
.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imageBack {
    background-color: rgb(112 114 144);
    height: 100%;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}
.main_title {
    z-index: 2;
}
.main_title .text {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
    text-align: center;
    font-family: "Raleway-bold";
}
#myName {
    color: #20253c;
}
#frontEnd {
    color: #f7e018;
}
.button {
    border: 3px solid white;
    padding: 15px;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button > * {
    pointer-events: none;
}
.button > i {
    margin-left: 5px;
    transition: all 0.5s;
}
.button:hover {
    background-color: rgb(70 71 90);
    border-color: rgb(70 71 90);
}
.button:hover > i {
    transform: rotate(90deg);
}
.nav {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    backdrop-filter: saturate(100%) blur(20px);
    background-color: rgb(112 114 144 / 70%);
    /*opacity: .7;*/
    width: 100vw;
    align-items: center;
    font-family: "Raleway-bold";
}
.nav div {
    margin-left: 5px;
    padding: 5px 10px;
}
.nav-site {
    transition: .5s;
    position: absolute;
    height: 50px;
    background-color: #70729000;
    right: 15px;
    bottom: calc(50px + 15px);
    display: flex;
    overflow: hidden;

    color: black;
}
.link-site {
    display: flex;
    align-items: center;
    justify-content: start;
    overflow: hidden;
    width: 50px;
    transition: .5s;
    border-left: 2px solid #343442;
    border-bottom: 2px solid #343442;
    font-family: "Raleway-bold";
}
.link-site.act {
    width: 300px;
}
.link-site .link {
    padding: 5px 1px;
    margin-left: 5px;
}
.burger-button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 50px;
    width: 50px;
    position: absolute;
    background-color: rgb(70 71 90);
    right: 0;
    bottom: 0;
}
.burger-button .line {
    display: block;
    height: 4px;
    width: 35px;
    background-color: #cccddc;
    transition: .5s;
    border-radius: 10px;
}
.burger-button.act .line:nth-child(1) {
    transform: rotateZ(45deg) translate(5px, 5px);
}
.burger-button.act .line:nth-child(2) {
    opacity: 0;
}
.burger-button.act .line:nth-child(3) {
    transform: rotateZ(-45deg) translate(7px, -8px);
}
.frameworks {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: #8a3333; */
    opacity: 0.5;
}
.frame {
    position: absolute;
    background-color: white;
}
.frame-h {
    height: var(--framing-size);
    width: 100%;
}
.frame-v {
    height: 100%;
    width: var(--framing-size);
}
.frame-top {
    transform-origin: top center;
    top: 0;
}
.frame-right {
    transform-origin: right center;
    right: 0;
}
.frame-bottom {
    transform-origin: bottom center;
    bottom: 0;
}
.frame-left {
    transform-origin: left center;
    left: 0;
}
.about {
    background-image: url(../image/back/back1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: bisque;
    height: 100vh;
}
.about2 {
    background-image: url(../image/back/back2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: burlywood;
    height: calc(100vh);
}
.about3 {
    background-image: url(../image/back/back3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: darkcyan;
    height: 100vh;
}
.about4 {
    background-image: url(../image/back/back2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(25, 70, 70);
    height: 100vh;
}
.about5 {
    background-image: url(../image/back/back1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(0, 139, 63);
    height: 100vh;
}
.about6 {
    background-image: url(../image/back/back2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(23, 139, 0);
    height: 100vh;
}

.fixed-l {
    position: fixed;
    top: 0;
    left: 0;
}
.fixed-r {
    position: fixed;
    top: 0;
    right: 0;
}
footer {
    height: 300px;
    background-color: cadetblue;
}





@media screen and (max-width: 900px) {
    .nav div:nth-child(1) {
        display: none;
    }
    .nav div:nth-child(4) {
        display: none;
    }
    .nav div:nth-child(5) {
        display: none;
    }
    .nav div:nth-child(6) {
        display: none;
    }
    .nav div:nth-child(7) {
        display: none;
    }
  }